<h1>
  Welcome to Angular. Your project name is {{title}}
</h1>

<h2>
  Project developer name {{dev_name}}
</h2>


<app-todo-input (submit_from_todo_input)="addTodo($event)"
                (submit_from_todo_input2)="addNewDay($event)"
></app-todo-input>

<hr>

<ul>
  <li *ngFor="let todo1 of todoItems; index as i">
    <app-todo-item [todo]="todo1" (removeTodo)="removeTodo(i)"></app-todo-item>
  </li>
</ul>

<hr>

<ol>
  <li *ngFor="let week1 of days_of_the_week; index as ind">
    <app-days-of-the-week-component [week]="week1" (removeWeekDay)="removeWeekDay(ind)"></app-days-of-the-week-component>
  </li>
</ol>


